@import '~src/imports';

.auth-card{
  @include vertical-spacing-inner;
  .auth-card-wrapper{
    @include wrapper;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white;
    border-radius: rem(10);
    box-shadow: rem(0) rem(0) rem(15) rgba($black, 0.08);
  }
  .auth-card-form-container{
    width: 100%;
    @include tablet{
      width: 60%;
    }
    padding: rem(40);
    text-align: center;
  }
  .auth-card-media{
    width: 40%;
    display: none;
    @include tablet{
      display: block;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: rem(10);
    }
  }
  .auth-card-title{
    @include title();
  }
  .auth-card-error{
    color: $red;
    margin-bottom: rem(20);
  }
  .auth-card-form{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
  }
  .mat-raised-button{
    background-color: $black;
    color: $white;
    margin-bottom: rem(20);
  }
  .auth-card-link{
    text-decoration: underline;
  }
}
