<!-- <div class="auth-card">
    <div class="auth-card-wrapper">

      <div class="auth-card-form-container">

        <h1 class="auth-card-title">{{ title }}</h1>

        <div class="auth-card-error" *ngIf="displayError && from === 'login' ">Les identifiants sont incorrects</div>

        <form class="auth-card-form" [formGroup]="userForm">
          <ng-template [ngIf]="from === 'register'">
            <mat-form-field appearance="outline">
              <mat-label>Prénom</mat-label>
              <input matInput name="firstName" formControlName="firstName">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Nom de famille</mat-label>
              <input matInput name="lastName" formControlName="lastName">
            </mat-form-field>
          </ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Entrez votre adresse e-mail</mat-label>
            <input matInput placeholder="pat@example.com" name="email" formControlName="email">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Entrez votre mot de passe</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" name="password" formControlName="password">
          </mat-form-field>

          <button mat-raised-button (click)="onSubmit()" [disabled]="userForm.invalid">{{ labelBtn }}</button>
        </form>

        <p class="auth-card-txt">{{ labelAuth }}<a class="auth-card-link" [routerLink]=" '/' + linkAuth">{{ labelAuth2 }}</a></p>

      </div>

      <div class="auth-card-media">
        <img src="assets/food.jpg" alt="">
      </div>

    </div>
  </div> -->

  <div class="auth-card">
    <div class="auth-card-wrapper">

      <div class="auth-card-form">
        <mat-form-field appearance="outline">
          <mat-label>Input</mat-label>
          <input matInput class="toto">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Select</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Textarea</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>