@import '~src/imports';
@import "~swiper/scss";
@import "~swiper/scss/pagination";

.event{
    @include vertical-spacing-bottom;
    .event-wrapper{
        @include wrapper;
        padding-bottom: rem(60);
    }
    .event-title{
        @include title(3);
        margin-bottom: rem(30);
    }
    .swiper-wrapper{
        display:inline-flex;
    }
    .swiper-pagination {
        position: absolute;
    }
    .mySwiper{
        position: static;
    }
}