<div class="footer">
    <div class="footer-wrapper">
        <div class="footer-container">
            <img src="../../../assets/logo.png" alt="">
            <p class="footer-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="footer-policy">
            <h4 class="footer-policy-title">Team of use</h4>
            <ul class="footer-policy-elements">
                <li class="footer-policy-el">Privacy Policy</li>
                <li class="footer-policy-el">Legal Mentions</li>
                <li class="footer-policy-el">RGPD</li>
            </ul>
        </div>
        <div class="footer-community">
            <h4 class="footer-community-title">Community</h4>
            <ul class="footer-community-elements">
                <li class="footer-community-el">Help Center</li>
                <li class="footer-community-el">Blog</li>
                <li class="footer-community-el">Jobs</li>
            </ul>
        </div>
    </div>
</div>
