<div class="header">
    <div class="header-wrapper">
        <div class="header-container">
            <div class="header-content">
                <div class="header-media">
                    <h1 class="header-title"><a [routerLink]="['/home']" class="header-link"><img src="../../../assets/logo.png" alt=""></a></h1>
                </div>
            </div>
            <nav class="header-nav">
                <ul class="header-elements">
                    <li class="header-element"><a [routerLink]="['/events']" class="header-link">Evénements</a></li>
                    <li class="header-element"><a [routerLink]="['/create-event']" class="header-link">Créer un événement</a></li>
                    <li class="header-element"><a [routerLink]="['/login']" class="header-link header-link-co">Connexion & Inscription</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
